.input-container img {
	opacity: 0.54;
	vertical-align: middle;
	margin-right: 5px;
}

.input-container input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.45);
	margin-bottom: 32px;
	padding-bottom: 7px;
}

.input-container input::placeholder {
	color: rgba(0, 0, 0, 0.68);
}

.title-page {
	margin-bottom: 48px;
}

.margin-top {
	margin-top: 17px;
}